.headerContainer {
  height: 100vh;
}

.backgroundImage {
  position: fixed;
  top: -12px;
  left: -16px;
  width: 104vw;
  height: 104vh;
  background-image: url('../images/chips_background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.navbar {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  margin-top: 20px;
}